@font-face {
  font-family: 'SF Fedora';
  src: url('/fonts/SFFedora.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LaBeouf';
  src: url('/fonts/LaBeouf.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #EEEEE4;
}

a {
  color: inherit;
  text-decoration: none;
}