.main {
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  width: 100%;
  font-family: var(--font-mono);
}

@media (max-width: 768px) {
  .main {
    padding: 3rem;
  }
}
